/* 
Auther: Lalit
Theme: Food order system admin

*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    /* border: 1px solid black; */
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}
.tbl-full{
    width: 100%;
}
.tbl-30{
    width: 30%;
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.btn-primary{
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-family: bold;
}
.btn-primary:hover{
    background-color: #3742fa;
}
.btn-secondary{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-family: bold;
    font-size: 1rem;
}
.btn-secondary:hover{
    background-color: #2ed573;
}
.btn-danger{
    background-color: #ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-family: bold;
}
.btn-danger:hover{
    background-color: #ff4757;
}
.success{
    color: #2ed573;
  
}
.error{
    color: #ff4757;

}
/* .col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
} */






/* css for menu */
.menu{
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;

}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}
.menu ul li a:hover{
color: #ff4757;
}

/* css for main-content */

.main-content{
    background-color: #f1f2f6;
    padding: 3%;
}
.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;

}

/* css for footer   */
.footer{
    background-color: #ff4757;
    color: white;
}
.footer a{
    text-decoration: none;
}

/* css for login */
.login{
    width: 33%;
    background-color: cornsilk;
    border: 1px solid rgb(12, 8, 8);
    border-radius: 15px;
    margin: 3% auto;
    padding: 2%;
    box-shadow: 5px 10px 8px #888888;
}
.login-container{
        padding: 16px;
      } 
input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1.5px solid rgb(22, 14, 14);
    padding: 12px 10px;
    border-radius: 10px;
    font-size: 1rem;
    }
      .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
      }
      img.avatar {
        width: 40%;
        border-radius: 50%;
      }
      .btn {
        background-color: #04AA6D; 
        font-size: 25px;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        border-radius: 5px;
        font-size: 1.5rem;
      }
      .btn:hover {
        /* opacity: 0.8; */
        background-color: #2ed573;
      }
      .login-footer a{
          text-decoration: none;
      }
      /* .login-body{
          background-color:rgb(0, 0, 0);
      } */